body {
	background-color: #8B0000;
	background-position: center;
	font-family: Georgia;
	line-height: 1.4em;
	margin: 0px;
}

.wrapper {
	width: 940px;
	margin: 20px auto 20px auto;
	border: 2px solid #000000;
	background-color: #ffffff;
}

.header {
	width:auto;
	background:#946038;
	padding:20px;
	text-align: center;
}

.nav, .footer {
	clear: both;
	color: #FFFFFF;
	background-color: #FFD700;
	height: 30px;
}

.nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px;
}

.nav li {
	display: inline;
	margin-right: 40px;
}

.nav li a {
	color: #FFFFFF;
}

.nav li a:hover, .nav li a.current {
	color: #000000;
}

.section {
	float: left;
	width: 100%;
}

article {
	clear: both;
	overflow: auto;
	width: 100%;
}

hgroup {
	margin-top: 40px;
}

figure {
	float: left;
	border: 1px solid #EEEEEE;
}

figcaption {
	font-size: 70%;
	text-align: center;
}

h1 {
	margin: 0px 0px 10px 0px;
	color: white;
}

h3 {
	margin: 0px 0px 10px 0px;
	color: #DE6581;
}

.footer {
	font-size: 80%;
	padding: 7px 0px 0px 20px;
}